body {
  text-align: center;
  background: rgb(64, 93, 153);
  background: linear-gradient(
    180deg,
    rgba(64, 93, 153, 1) 0%,
    rgba(105, 92, 109, 1) 68%,
    rgba(5, 14, 42, 1) 100%
  );
  min-height: 100vh;
  font-family: 'Karla', 'Karla', sans-serif;
}

p {
  color: white;
}

.profileCard {
  padding-top: 20px;
}

#profilepicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileCard p {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}

.links a {
  display: block;
  font-size: 16px;
  font-weight: normal;
  color: rgb(64, 93, 153);
  background-color: white;
  max-width: 400px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 auto 15px auto;
  text-decoration: none;
}

.links p {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.links a:hover {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: white;
}

.icons {
  margin: 3.5px;
  border-radius: 11px;
  height: 50px;
  width: 50px;
}

#facebook:hover {
  background-color: #3b5998;
}

#instagram:hover {
  background: linear-gradient(
    60deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}

#twitter:hover {
  background-color: #1da1f2;
}

#youtube:hover {
  background-color: #c4302b;
}

#linkedin:hover {
  background-color: #0072b1;
}
